
.box {
  border: 3px solid black;
  width: 400px;
  padding: 20px;
  margin: 30px;
}
.item-img {
  width: 300px;
}
.main {
  display: flex;
  justify-content: center;
}
.win {
  border: 30px solid blue;
  color: green;
}
.lose {
  border: 20px solid red;
  color: red;
}
.tie {
  border: 20px solid gray;
  color: grey;
}
button {
  padding :10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color:black;
}
@media (max-width: 768px) {

  .container {
    width: 100%;
    /* height: 100%; */
  } 
  .main {
    display: inline-block;
    width:100%;
    /* justify-content: center; */
    text-align: center;
  }
  .button {
    display:flex;
    text-align: center;
  }
} 